<!--<Nav segment={child.segment}/>-->

<main>
	<svelte:component this={child.component} {...child.props}/>
</main>

<footer>
<div class="w3-cell-row">
  <div class="w3-col" style="background-color: #0068b3">
  	<div class="w3-center w3-cell-middle">
			<h3 class="w3-text-white" style="font-size: 2em">Create an account at mixnitrous.com</h3>
			<p class="w3-text-white" style="font-size: 1em">
				Gary Springer, 
				Andrea Baker,
				Adam McClain, 
				James Ralston, 
				Nitin Ubale, 
				Arturo, 
				Robert Buchanan 
			</p>
  	</div>
  </div>
</div>
</footer>

<!--<script>
	export default {
		components: {
			Nav: '../components/Nav.html'
		}
	};
</script>-->