<svelte:head>
	<title>Mix Nitrous - Keg Noname</title>
</svelte:head>
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<div class="w3-clear"></div>
<header class="w3-center w3-margin-bottom">
  <h2>Sponsored by</h2>
  <div class="w3-row">
	<div class="w3-quarter">&nbsp;</div>
	<div class="w3-half">
  		<div class="w3-third">
			<img src="rack_draft.png" alt="a placeholder">
		</div>
		<div class="w3-third">
			<img src="kroger_logo.png" alt="a placeholder">
		</div>
		<div class="w3-third">
			<img src="coffee_emporium.png" alt="a placeholder">
		</div>
  	</div>
  	<div class="w3-quarter">&nbsp;</div>
  </div>
</header>

<div class="w3-cell-row">
    <div class="w3-col" style="background-color: #0068b3; margin-bottom: 8px">
  	<div class="w3-center w3-cell-middle">
	  	<h2 class="w3-text-white" style="font-size: 3em">THIRSTY?</h2>
  	</div>
  </div>
</div>
<!-- Photo Grid -->
<div class="w3-row-padding" id="myGrid" style="margin-bottom:40px">
	<div class="w3-quarter w3-center">
		&nbsp;
 </div>
  <div class="w3-quarter w3-center">
   	<img src="nitro-chai.png" style="height: 220px;" alt="cup of nitrous chai">
   	<h4 class="secondary-text" style="font-size: 2em; font-weight: 700">NITRO CHAI</h4>
	<div style="font-size: 1.5em">$0.99/1oz</div>
  </div>
  <div class="w3-quarter w3-center">
    <img src="nitro-coffee.png" style="height: 220px;" alt="cup of nitrous coffee">
    <h4 class="secondary-text" style="font-size: 2em; font-weight: 700">NITRO COFFEE</h4>
	<div style="font-size: 1.5em">$0.99/1oz</div>
	</div>
	<div class="w3-quarter w3-center">
			&nbsp;
		</div>
</div>

<!-- End Page Content -->
</div>


