.primary-bg {
	background-color: #006863 !important;
	color: 044a76;
}
.primary-text {
	color: #1a99aa;
}
.secondary-text {
	color: #d0727f;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	width: 100%;
}
